<button (click)="requestPermission()">
  Yes, send me notifications for new houses!
</button>
<button (click)="deleteMyToken()">
  Delete my token plz
</button>
<!-- <button (click)="listen()">
  Get notified!
</button> -->
<div *ngIf="afAuth.user | async as user; else showLogin">
  <h2>Hello {{ user.displayName }}!</h2>
  <button class="logout-btn" (click)="logout()">Logout</button>
  <app-house-list></app-house-list>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
<router-outlet></router-outlet>
